<h1>Standings</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <% @rounds.each do |round| %>
        <th><%= "R#{round}" %></th>
      <% end %>
      <th>Total</th>
    </tr>
  </thead>

  <% @data.each do |user, round_scores, totals| %>
    <tr>
      <% cls = user == current_user ? 'user self' : 'user' %>
      <td class='<%= cls %>'><%= user.username %></td>
      <% @rounds.each do |round| %>
        <% min, max = round_scores[round] %>
        <td>
          <% if min == max %>
            <%= min %>
          <% else %>
            <table class='inner'>
              <tr>
                <td class='inner number'>
                  <%= round_scores[round].first %>
                </td>
                <td class='inner separator'>
                  –
                </td>
                <td class='inner number'>
                  <%= round_scores[round].last %>
                </td>
              </tr>
            </table>
          <% end %>
        </td>
      <% end %>
      <td>
        <% min, max = totals %>
        <% if min == max %>
          <%= min %>
        <% else %>
          <table class='inner'>
            <tr>
              <td class='inner number'>
                <%= min %>
              </td>
              <td class='inner separator'>
                –
              </td>
              <td class='inner number'>
                <%= max %>
              </td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
