<% count = @matchup_data[matchup.id][outcome] %>
<% winner, num_games, possible = matchup.outcome_by_index(outcome) %>
<% bg = "bg-danger bg-gradient text-white text-decoration-line-through" unless possible %>
<% bg = "bg-success bg-gradient text-white" if possible && matchup.finished? %>
<td class="text-end text-nowrap <%= bg %>"><%= winner.name %> in <%= num_games %></td>
<td class="text-center bg-warning bg-gradient" style="--bs-bg-opacity: <%= count.to_f / @num_users %>"><%= count || 0 %></td>
