<th scope="col" colspan="2" class="text-center text-nowrap sortable-header" data-column-index="<%= matchup_counter %>">
  <span class="sortable-header-content">
    <% if !matchup.finished? || matchup.simulated_outcome %>
      <select class="form-select form-select-sm mb-1 simulation-select" data-matchup-id="<%= matchup.id %>" data-round="<%= matchup.round %>" style="font-size: 0.75rem;">
        <option value=""><%= matchup.simulated_outcome ? 'Clear simulation' : 'Simulate...' %></option>
        <% matchup.possible_remaining_results.each do |name, code| %>
          <option value="<%= code %>" <%= 'selected' if matchup.simulated_outcome == code %>>
            <%= name %>
          </option>
        <% end %>
      </select>
    <% end %>
    <%= matchup.favorite_name_and_wins %>
    <br>
    <%= matchup.underdog_name_and_wins %>
  </span>
</th>
