<% overall_user = @data.find { |d| d.user == user_round.user } %>
<% if overall_user %>
  <td class="align-middle" style="min-width: 90px;">
    <div class="progress bg-secondary" style="--bs-bg-opacity: .15;">
      <% if overall_user.min_total.positive? %>
        <% pct = (overall_user.min_total.to_f / @biggest_max_total * 100).round(4) %>
        <div class="progress-bar <%= round_data[:bg_color] %>" role="progressbar" style="width: <%= pct %>%">
          <%= overall_user.min_total %>
        </div>
      <% end %>
      <% potential = overall_user.max_total - overall_user.min_total %>
      <% if potential.positive? %>
        <% pct = (potential.to_f / @biggest_max_total * 100).round(4) %>
        <div class="progress-bar progress-bar-striped <%= round_data[:bg_color] %>" role="progressbar" style="--bs-bg-opacity: .5; width: <%= pct %>%">
          <%= potential %>
        </div>
      <% end %>
    </div>
  </td>
<% else %>
  <td class="align-middle" style="min-width: 90px;"></td>
<% end %>
