<% pick = picks_by_matchup_id[matchup.id] %>
<% if pick %>
  <td class="<%= class_names(:'text-center', 'table-secondary': !pick.winner_is_favorite)%>">
    <%= pick.winner.name %>
  </td>
  <td class="text-center">
    in <%= pick.num_games %>
  </td>
  <td>
    <div class="progress">
      <% pct = (pick.min_points_percentage * 100).round %>
      <div class="progress-bar bg-primary" role="progressbar" style="width: <%= pct %>%" >
        <%= pick.min_points %>
      </div>
      <% pct = (pick.potential_points_percentage * 100).round %>
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: <%= pct %>%" >
        <%= pick.potential_points %>
      </div>
    </div>
  </td>
<% else %>
  <td></td>
  <td></td>
  <td></td>
<% end %>
