<div class="table-responsive">
  <table class="table table-hover table-sm table-white">
    <thead>
      <tr>
        <th scope="col" class="table-rank-col">#</th>
        <th scope="col" class="table-name-col">Name</th>
        <% if @show_overall_total %>
          <th scope="col" class="text-center">Overall Total</th>
          <%= render partial: 'shared/empty_cell' %>
        <% end %>
        <% if round_data[:show_totals] %>
          <th scope="col" class="text-center sortable-header" data-sort-type="total">Round Total</th>
          <%= render partial: 'shared/empty_cell' %>
        <% end %>
        <%= render partial: 'round/matchup_title', collection: round_data[:matchups], as: :matchup, spacer_template: 'shared/empty_cell' %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'round/user_row', collection: round_data[:user_data], as: :user_round, locals: {round_data: round_data} %>
    </tbody>
    <tfoot>
      <%= render partial: 'round/matchup_summary_row', collection: (0...round_data[:num_outcomes]).to_a, as: :outcome, locals: {round_data: round_data} %>
    </tfoot>
  </table>
</div>
