<td class="align-middle" style="min-width: 90px;">
  <div class="progress bg-secondary" style="--bs-bg-opacity: .15;" data-bs-toggle="tooltip" data-bs-html="true" title="<%= user_round.points_tooltip %>">
    <% if user_round.min_total.positive? %>
      <% pct = (user_round.min_total_percentage * 100).round(4) %>
      <div class="progress-bar <%= @bg_color %>" role="progressbar" style="width: <%= pct %>%">
        <%= user_round.min_total %>
      </div>
    <% end %>
    <% if user_round.potential_total.positive? %>
      <% pct = (user_round.potential_total_percentage * 100).round(4) %>
      <div class="progress-bar progress-bar-striped <%= @bg_color %>" role="progressbar" style="--bs-bg-opacity: .5; width: <%= pct %>%">
        <%= user_round.potential_total %>
      </div>
    <% end %>
  </div>
</td>
