<tr <%= "class=fw-bold" if user_round.user == current_user %>>
  <td><%= user_round.rank %></td>
  <%= render partial: 'shared/user_cell', locals: {user: user_round.user} %>
  <% if @show_totals %>
    <%= render partial: 'round/total_cell', locals: {user_round: user_round} %>
    <%= render partial: 'shared/empty_cell' %>
  <% end %>
  <%= render partial: 'round/pick_cell', collection: @matchups, as: :matchup, locals: {user_round: user_round}, spacer_template: 'shared/empty_cell' %>
</tr>
