<tr <%= "class=fw-bold" if user_round.user == current_user %>>
  <td class="table-rank-col"><%= user_round.rank %></td>
  <%= render partial: 'shared/user_cell', locals: {user: user_round.user} %>
  <% if @show_overall_total %>
    <%= render partial: 'round/overall_total_cell', locals: {user_round: user_round, round_data: round_data} %>
    <%= render partial: 'shared/empty_cell' %>
  <% end %>
  <% if round_data[:show_totals] %>
    <%= render partial: 'round/total_cell', locals: {user_round: user_round, round_data: round_data} %>
    <%= render partial: 'shared/empty_cell' %>
  <% end %>
  <%= render partial: 'round/pick_cell', collection: round_data[:matchups], as: :matchup, locals: {user_round: user_round, round_data: round_data}, spacer_template: 'shared/empty_cell' %>
</tr>
