<ul class="nav nav-pills mb-3">
  <% @round_names.sort.each do |n, name| %>
    <% current = n.to_s == params[:round] %>
    <li class="nav-item">
      <%= link_to(name, n.to_s, class: class_names(:'nav-link', active: current), aria_current: (current ? :page : nil)) %>
    </li>
  <% end %>
</ul>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <% if @show_totals %>
          <th scope="col" class="text-center">Total</th>
          <%= render partial: 'shared/empty_cell' %>
        <% end %>
        <%= render partial: 'round/matchup_title', collection: @matchups, as: :matchup, spacer_template: 'shared/empty_cell' %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'round/user_row', collection: @user_data, as: :user_round %>
    </tbody>
    <tfoot>
      <%= render partial: 'round/matchup_summary_row', collection: (0...@num_outcomes).to_a, as: :outcome %>
    </tfoot>
  </table>
</div>
