<% if @other_matchups.any? %>
  <h2>Unpicked Series</h2>
  <ul class="list-unstyled">
    <% @other_matchups.each do |matchup| %>
      <li>
        <%= matchup.favorite.name %>
        v.
        <%= matchup.underdog.name %>
      </li>
    <% end %>
  </ul>
  <p><%= button_to 'Submit Picks', {action: :new}, method: :get %></p>
<% elsif @accepting_picks %>
  <p><%= button_to 'Edit Picks', {action: :new}, method: :get %></p>
<% end %>
<h2>Picked Series</h2>
<% @picks.each do |round, picks| %>
  <p class="lead"><%= "Round #{round}" %></p>
  <ul class="list-unstyled">
    <% picks.each do |pick| %>
      <li>
        <strong><%= pick.winner.name %></strong>
        beat
        <em><%= pick.loser.name %></em>
        in
        <strong><%= pick.num_games %></strong>
        (<%= pick.min_points %>-<%= pick.max_points%> points)
        (<%= pick.matchup.favorite_wins %> to <%= pick.matchup.underdog_wins %>)
      </li>
    <% end %>
  </ul>
<% end %>
