<% if @other_matchups.any? %>
  <h2>Unpicked Series</h2>
  <ul class="list-unstyled">
    <% @other_matchups.each do |round, matchups| %>
      <p class="lead"><%= matchups.first.round_name %></p>
      <% matchups.each do |matchup| %>
        <li>
          <%= matchup.favorite.name %> v. <%= matchup.underdog.name %>
          — Starts <%= matchup.starts_at_pretty %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p>
    <%= button_to 'Submit Picks', {action: :new}, method: :get, class: "btn btn-primary" %>
  </p>
<% end %>
<h2>Picked Series</h2>
<% @picks.each do |round, picks| %>
  <p class="lead"><%= picks.first.matchup.round_name %></p>
  <ul class="list-unstyled">
    <% picks.each do |pick| %>
      <li>
        <strong><%= pick.winner.name %></strong>
        beat
        <em><%= pick.loser.name %></em>
        in
        <strong><%= pick.num_games %></strong>
        <% unless pick.matchup.started? %>
          — Starts <%= pick.matchup.starts_at_pretty %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @other_matchups.empty? && @accepting_picks %>
  <p>
    <%= button_to 'Edit Picks', {action: :new}, method: :get, class: "btn btn-primary" %>
  </p>
<% end %>
