<div class="alert alert-primary" role="alert">
  You can submit and change your picks up until the start of each series.
</div>

<%= form_with model: Pick.new do |form| %>
  <div class="row">
    <% @matchups.each do |matchup| %>
      <% pick = @picks[matchup.id] %>
      <div class='col-lg-6' style='padding-bottom: 20px'>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= "#{matchup.favorite.full_name} vs. #{matchup.underdog.full_name}" %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Starts <%= matchup.starts_at_pretty %></h6>
            <p class="card-text">
              <%= form.fields_for :matchup, index: matchup.id do |matchup_form| %>
                <%= matchup_form.select :result, matchup.possible_results, {selected: pick&.code, prompt: 'Select a result'}, {class: 'form-select'} %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  </div>
  <div class="mb-5">
    <%= form.submit "Save Picks", class: "btn btn-primary" %>
  </div>
<% end %>
