<h2>Submit Picks</h2>
<%= form_with model: Pick.new do |form| %>
  <% @matchups.each do |matchup| %>
    <% pick = @picks[matchup.id] %>
    <h3><%= "#{matchup.favorite.full_name} vs. #{matchup.underdog.full_name}" %></h3>
    <p>
      <ul class="list-unstyled">
        <%= form.fields_for :matchup, index: matchup.id do |matchup_form| %>
          <% matchup.possible_results.each do |team, games, code| %>
            <li>
              <% checked = pick&.num_games == games && pick&.winner == team %>
              <%= matchup_form.radio_button :result, code, checked: checked %>
              <%= matchup_form.label :"result_#{code}", "#{team.name} in #{games}" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </p>
  <% end %>
  <br>
  <div>
    <%= form.submit "Submit Picks", class: "btn btn-primary" %>
  </div>
<% end %>
