<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sports Pals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% current = controller_name == 'standings' %>
          <%= link_to('Standings', '/standings', class: class_names(:'nav-link', active: current), aria_current: (current ? :page : nil)) %>
        </li>
        <li class="nav-item">
          <% current = controller_name == 'round' %>
          <% n, _name = @round_names.sort.last %>
          <%= link_to('Pool Picks', "/mlb/2021/#{n}", class: class_names(:'nav-link', active: current), aria_current: (current ? :page : nil)) %>
        </li>
        <li class="nav-item">
          <% current = controller_name == 'picks' %>
          <%= link_to('My Picks', '/picks', class: class_names(:'nav-link', active: current), aria_current: (current ? :page : nil)) %>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if current_user&.admin %>
          <%= link_to('Admin', '/admin', class: :'nav-link') %>
        <% end %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>
</nav>
