<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sports Pals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% current = controller_name == 'standings' %>
          <%= link_to('Standings', CurrentSeason.path, class: class_names(:'nav-link', active: current), aria_current: (current ? :page : nil)) %>
        </li>

        <% if @current_last_round.present? %>
          <li class="nav-item">
            <% current = controller_name == 'round' %>
            <%= link_to('Pool Picks', "#{CurrentSeason.path}/#{@current_last_round}", class: class_names(:'nav-link', active: current), aria_current: (current ? :page : nil)) %>
          </li>
        <% end %>

        <li class="nav-item">
          <% current = controller_name == 'picks' %>
          <%= link_to('My Picks', '/picks', class: class_names(:'nav-link', active: current), aria_current: (current ? :page : nil)) %>
        </li>

        <% if @past_seasons.present? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Past Seasons
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= render partial: 'navbar/past_season', collection: @past_seasons, as: :sport_year_last_round, spacer_template: 'navbar/dropdown_divider' %>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if current_user&.admin %>
          <%= link_to('Admin', '/admin', class: :'nav-link') %>
        <% end %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>
</nav>
